 body{
     box-sizing: border-box;
   background-color:rgb(0, 0, 0);
   margin: 0;
 }
 /* This is the first div  for menu bar*/
  #DivOfNavigationBar{
     background-color: rgb(0, 93, 109);
     padding:40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}
/* All the link taht given in the first div */
.linkofnav{
    text-decoration:none;
    color: white;
    font-size: 20px;
    padding-right:40px ;
    border-radius: 5px;
}
/* This is the second  div for form */
#DivOfForm{
    background-color: rgb(0, 93, 109);
    width: 800px;
    height: 700px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}
/* h1,p,and a tag in between form */
h1,p{
    color: white;
}
a{
    text-decoration: none;
    color: chartreuse;
}
/* all the form element */
input[type="text"],
input[type="email"]
{
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
input[type="radio"]{
    margin-top: 10px;
}
textarea{
    width:100%;
    border-radius: 5px;
    margin-top: 10px;
}
/* This is the main heading in the form contact us */
.head{
    width: 100%;
    background-color: darkturquoise;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}
/* Submit button */
input[type="submit"]{
    color: white;
    font-size: large;
    background-color:rgb(20, 149, 151);
    width: 100%;
    padding: 10px 5px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 0;
}
input[type="submit"]:hover{
    background-color: rgb(77, 252, 255);
}
/* footer div of the page */
#footerdiv{
    background-color: rgb(0, 93, 109);
    padding:20px;
   width: 100%;
   margin-top: 10px;
   border-radius: 4px;
   text-align: center;
}